.section-aboutMain
{
    margin-bottom: 112px;
}
.aboutMain-title
{
    font-size: 56px;
    font-weight: 700;
    color: var(--GrayscaleBlack);
    width: 176px;
    margin: 0 auto 36px;
    text-align: center;
}
.aboutMain-text
{
    width: 582px;
    margin: 0 auto 86px;
    text-align: center;
    color: var(--GrayscaleBlack);
}