.section-teams
{
    margin-bottom: 112px;
}
.teams-title
{
    font-size: 56px;
    font-weight: 700;
    width: 314px;
    color: var(--GrayscaleBlack);
    text-align: center;
    margin: 0 auto 36px;
}
.teams-text
{
    width: 518px;
    text-align: center;
    color: var(--GrayscaleBlack);
    margin: 0 auto 57px;
}